@import "tailwindcss";

@font-face {
  font-family: "Long";
  src: url("/fonts/long.woff");
}

@font-face {
  font-family: "Round";
  src: url("/fonts/round.woff");
}

@font-face {
  font-family: "Round Bold";
  font-weight: bold;
  src: url("/fonts/round-bold.woff");
}

@theme {
  --font-sans: "Round", sans-serif;
  --font-long: "Long", sans-serif;
  --font-round-bold: "Round Bold", sans-serif;
  --color-yellow: #fff9cb;
  --color-pink: #ffb0c4;
  --breakpoint-sm: 40rem;
  --breakpoint-xs: 20rem;
  --breakpoint-3xl: 120rem;
}

button {
  cursor: pointer;
}

body {
  width: 100dvw;
  overflow-x: hidden;
  font-family: "Round", sans-serif;
  background-color: black;
  color: rgba(255, 255, 255, 0.87);
}

main {
  --r1: rgb(28, 24, 41);
  --r2: rgb(27, 24, 40);
  --r3: rgb(25, 23, 36);
  --r4: rgb(22, 21, 32);
  --r5: rgb(20, 19, 28);
  --r6: rgb(18, 18, 24);
  --r7: rgb(17, 17, 23);
  background: linear-gradient(
    223.17deg,
    var(--r1) 0%,
    var(--r2) 8.61%,
    var(--r3) 17.21%,
    var(--r4) 25.82%,
    var(--r5) 34.42%,
    var(--r6) 43.03%,
    var(--r7) 51.63%
  );
}

*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}
*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.mask-wrapper {
  mask-image: url("/images/big-hero-text.svg");
  mask-repeat: no-repeat;
}

.entrance-message {
  mask-image: radial-gradient(circle at 50% 100vh, black 0%, transparent 0%);
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}
